<button disabled="@disabled" onclick="document.getElementById('@audioId').play()">
    <img id="speakerImg" src="/Resources/Images/speaker-filled-audio-tool_59284.png"/>
</button>
<audio id="@audioId" src="@SourceString"></audio>
