@inject HttpClient _client

<ul>
    <li><GuessComponent @ref=@Move1 IsGuessable=@IsGuessable OptionList=@AllMoves GuessString=@Moves[0]></GuessComponent></li>
    <li><GuessComponent @ref=@Move2 IsGuessable=@IsGuessable OptionList=@AllMoves GuessString=@Moves[1]></GuessComponent></li>
    <li><GuessComponent @ref=@Move3 IsGuessable=@IsGuessable OptionList=@AllMoves GuessString=@Moves[2]></GuessComponent></li>
    <li><GuessComponent @ref=@Move4 IsGuessable=@IsGuessable OptionList=@AllMoves GuessString=@Moves[3]></GuessComponent></li>
</ul>

<button @onclick="ConfirmClick">Confirm</button>