.movelist-component{
    display: block;
}

.movelist-container{
    display: block;
}

.move-header{
    text-align: center;
}

.guess-component-container{
    box-sizing: border-box;
    width: 100%;
}

.confirm-button-container{
    margin-left:0;
    margin-right: auto;
}