body {
}

.nature-component-container{
    display: block;
}

.guess-component-container {
    box-sizing: border-box;
    width: 100%;
}

.title-container {
    text-align: center;
}

.confirm-button-container {
    margin-left: 0;
    margin-right: auto;
}