body {
}
.guesser-component-container{
    display:block;
    gap: 5px;
}

.pokemons-info-container{
    display:flex;
    justify-content: space-around;
}

.pokemon-info{
    margin: 0px 5px;
}

.types {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.sprite {
    height: fit-content;
}

.cryButton {
    height: fit-content;
}

.pokemon-container {
    display: block;
}

.pokemon-container > div{
    margin-top: 5px;
    margin-bottom: 5px;
}


.guess-component-container {
    width: 100%
}

.confirm-button-container {
    width: 100%;
    left: auto;
}