body {
}
.round-selector-label{
    text-align: center;
}
.round-buttons-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.round-selector-container{
    display: block;
}

.round-selector-container > div{
    margin-top: 5px;
    margin-bottom: 5px;
}

.round-button-component{

}