body {
}

button {
    box-sizing: border-box;
    border-radius: 10%;
    width: 75%;
    height: 80%;
    margin: 3px;
    border-color: grey;
}

    button:hover {
        background-color: white;
    }

.pressed {
    background-color: yellow;
}

    .pressed:hover {
        border-color: black;
    }

.unpressed {
    background-color: white;
}

    .unpressed:hover {
        border-color: yellow;
    }